rules_version = '2';
service border.storage {
  match /b/{bucket}/o {
    
    // განცხადების ფოტოების საქაღალდე
    match /items/{userId}/{allPaths=**} {
      allow read: if true; // სურათები ყველასთვის ჩანდეს
      
      // ატვირთვა მხოლოდ საკუთარ საქაღალდეში, მაქსიმუმ 5MB თითო ფოტო
      allow write: if request.auth != null 
        && request.auth.uid == userId
        && request.resource.size < 5 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }

    // ბანერების საქაღალდე (მხოლოდ ადმინისთვის)
    match /banners/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.email == "admin@gmail.com";
    }
  }
}
