body{
    margin:0;
    font-family:Arial;
    background:#111;
    color:white;
}

header{
    display:flex;
    justify-content:space-between;
    padding:15px;
    background:black;
}

.logo{
    color:#00ffcc;
    font-size:22px;
}

nav a{
    margin:0 10px;
    cursor:pointer;
}

.container{
    padding:15px;
}

.hidden{display:none;}

input,textarea{
    width:100%;
    padding:10px;
    margin:5px 0;
}

button{
    padding:10px;
    background:#00ffcc;
    border:none;
    cursor:pointer;
}

.slider img{
    width:100%;
    height:180px;
    object-fit:cover;
}

#ads{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:10px;
}

.ad{
    background:#222;
    padding:10px;
    border-radius:10px;
}

.vip{
    border:2px solid gold;
}

#chatBox{
    height:200px;
    overflow:auto;
    background:black;
    padding:10px;
}
