body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

header {
  background: #111827;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #38bdf8;
  font-size: 20px;
  font-weight: bold;
}

.nav button {
  margin-left: 5px;
  padding: 8px;
  border: none;
  background: #2563eb;
  color: white;
}

.form {
  background: #111827;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}

input, textarea {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background: green;
  border: none;
  color: white;
}

.post {
  background: #111827;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.vip {
  border: 2px solid gold;
}

/* BANNERS */
.banner-container {
  overflow: hidden;
  height: 160px;
  margin: 10px;
  border-radius: 10px;
}

.banner-track {
  display: flex;
  transition: 0.5s;
}

.banner {
  min-width: 100%;
  height: 160px;
  background-size: cover;
}
